body{
    background-color: #66BFBF;
}
h1{
    color: white;
    background-color: aliceblue;
}
h2{
    color: chartreuse;
    background-color: beige;
}
h3{
    color: crimson;
}
.explanation{
    color: black;
}
.uses{
    color: darkgreen;
    background-color: blueviolet;
}
#how{
    color: blue;
}